body {
  background-color: #f0f2f7ff ;
  font-family: 'Playfair Display', serif;
  color: grey;
}
html{
  scroll-behavior: smooth;
}
p{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1.5%;
  text-align: justify;
  line-height: 1.75;
}
h4{
text-decoration: none;
color:grey;
margin-top: 0px;
}
h3{
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}
h6{
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 23px;
  float: right;
}
h1{
  font-size: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  float: left;
}
a{
  color: grey;
}

#cities {
  height: 500px;
  background-color: #f8f9fc;
  margin-top: 25px;
}

#taming {
  height: 500px;
  background-color: #f8f9fc;
  margin-top: 25px;
}

#pollution {
  height: 500px;
  background-color: #f8f9fc;
  margin-top: 25px;
}

.button {
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.8;
  box-shadow: 6px 6px 7px grey;
}

.title{
  font-size: 50px;
  color:black;
  opacity: 0.5;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  column-count: 4;
  column-gap: 20px;

}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #818181;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#sidebar {
  padding: 32px 8px 8px 24px;
  font-size: 17px;
}
#sidebar1 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  transition: 0.3s;
  padding-bottom: 2px;
  font-family: 'Playfair Display', serif;
}
#sidebar2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  transition: 0.3s;
  padding-top: 23px;
  padding-bottom: 2px;
}

#bot {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  transition: 0.3s;
  bottom: 25px;
  left: 8px;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.bottomleft{
  position: absolute;
  bottom: 100px;
  left: 10px;
}

.leftcolumn {
  float: left;
  width: fit-content;
}

.rightcolumn {
  float: right;
  height: -webkit-fill-available;
}

.leftcolumn1 {
  float: left;
  width:65%;
  margin-left: 100px;
}

.rightcolumn1 {
  float: right;
  width: 20%;
  margin-right: 100px;
}


.leftcolumn2 {
  float: left;
  width:70%;
}

.rightcolumn2 {
  float: right;
  width: 10%;
}

 .card{
   height: 425px;
   width: auto;
   background-color: #f8f9fc;
   margin-top: 25px;

 }
